table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

th, td {
  text-align: left;
  padding: 8px;
}

.countryInfo {
  margin-left: 20px;
}

.countryName {
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 8px;
}

.titleInfo {
  font-weight: 600;
  max-width: max-content;    
}
.valueInfo {

}

.borderList {  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.borderItem {
  display: block;
  padding: 4px 8px;
  margin: 8px 12px 8px 0;
  width: max-content;
  text-align: center;
  user-select: none;
  transition: all 0.2s ease;
  opacity: 0.75;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
}
.borderItem:hover {
  opacity: 1;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  table {
    font-size: 16px;
  }
  .countryInfo {
    margin-left: 12px;
  }
}